* {
  padding: 0;
  margin: 0;
}
/* navbar section */
button {
  border: none;
}
header{
  background-color: #D9D9D9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 0px 25px;
}

.nav button {
  color: white;
  width: 70px;
  height: 38px;
  border-radius: 10px;
  background-color: #382525;
}

/*hero section*/
.hero {
  height: 30vh;
  background-color: #3F1919;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px solid #ccc;
}

.hero button {
  padding: 10px;
  border-radius: 10px;
  background-color: #E26464;
  margin: 1rem;
}

/*cards seftion*/
.cards {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}


.box {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin: 0.8rem;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box p{
  margin: 15px;
}

.box img {
  margin-top: 0px;
  padding-top: 0px;
  width: 250px;
  height: 166px;
  border-radius: 10px;
}

.box button {
  border-radius: 4px;
  padding: 6px;
  margin: 15px;
  align-self: self-start;
}

/*footer section*/
.footer {
  background-color: #3F1919;
  flex-wrap: wrap;
}

.links {
  width: 80%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.links li {
  list-style: none;
}
.links button{
  background-color: #E26464;
  padding: 10px;
  margin-left: 0px;
}
.links input{
  padding: 10px;
  margin-right: 0px;
}
.copyright{
  height: 1.5rem;
  background-color: #E26464;
   width: 80%;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}